<div class="kopmenu" id="kopmenu2">
<ul class="nieuws-menu">
{% case page.layout %}
{% when 'post' %}
  {% if page.category %}
  <li><a href='../../../../index'>home</a></li>
  <li><a href='../../../../links'>links</a></li>
  <li><a href='../../../../about'>about</a></li>
  {% else %}
  <li><a href='../../../index'>home</a></li>
  <li><a href='../../../links'>links</a></li>
  <li><a href='../../../about'>about</a></li>
  {% endif %}
{% when 'tagpage' %}
<li><a href='../index'>home</a></li>
<li><a href='../links'>links</a></li>
<li><a href='../about'>about</a></li>
{% else %}
<li><a href='index'>home</a></li>
<li><a href='links'>links</a></li>
<li><a href='about'>about</a></li>
{% endcase %}
</ul>
</div> <!-- kopmenu -->
